#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/net/ti-dp83867.h>
#include <dt-bindings/phy/phy.h>
#include <dt-bindings/pinctrl/pinctrl-zynqmp.h>

/include/ "system-conf.dtsi"
/{
};
//&gem3 { /* required by spec */
	//#address-cells = <1>;
	//#size-cells = <0>;
	//status = "okay";
	//pinctrl-names = "default";
	//pinctrl-0 = <&pinctrl_gem3_default>;
	//phy-handle = <&phy0>;
	//phy-mode = "rgmii-id";

	//mdio: mdio {
		//#address-cells = <1>;
		//#size-cells = <0>;
		//reset-gpios = <&gpio 38 GPIO_ACTIVE_LOW>;
		//reset-delay-us = <2>;

		//phy0: ethernet-phy@1 {
			//#phy-cells = <1>;
			//reg = <1>;
			//ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_25_NS>;
			//ti,tx-internal-delay = <DP83867_RGMIIDCTL_2_75_NS>;
			//ti,fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_4_B_NIB>;
			//ti,dp83867-rxctrl-strap-quirk;
		//};
	//};
//};
&gem3 { 
	status = "okay";
	phy-handle = <&phy0>;
	phy-mode = "rgmii-id";

	phy0: ethernet-phy@5 {
		#phy-cells = <1>;
		reg = <5>;
		device_type="ethernet-phy";
		ti,rx-internal-delay = <0x8>;
		ti,tx-internal-delay = <0xa>;
		ti,fifo-depth = <0x1>;
		ti,dp83867-rxctrl-strap-quirk;
	};
};

